.home{
  text-align: center;
  border: 3px solid var(--primary-default);
  border-radius: 20px;
}

.home h1{
  font-size: 50px;
  font-weight: 700;
}

.home p{
  padding: 0px 40px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}